* {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.NavBar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
}

.NavBar li a {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.NavBar li a:hover {
    color: purple;
}

.NavBar ul .furniture-home {
    font-size: 700;
    font-weight: 700;
    letter-spacing: 1.5px;
    transition: 2s;
    color: grey;
    font-family: cursive;
    font-style: oblique;
}
/*Sidebar image scaling*/
.sidebar-img img {
    width: 150vh;
    height: 350px;
    padding-top: 60px;
    padding-right: 30px;
    border-style: none;

}

/*Putting my elements into grids*/
.container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}
header {
    font-size: 30px;
    font-style: oblique;
    padding: 40px;
    justify-content: center;
}
header h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    color: purple;
    font-style: italic;
}
article {
    display: grid;
    grid-template-columns: 4fr 6fr;
    font-size: 20px;
    gap: 30px;
    padding-top: 30px;
    width: 90%;
}
article .p2 {
    border-left: 2px solid black;
    padding-left: 20px;
}

.quotes {
    text-align: center;
    padding: 50px;
    padding-top: 70px;
    font-size: 40px;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(./assets/chair6.jpg);
    background-position: cover;
    color: black;
    height: 150px;
    
    border-radius: 40px;
    padding-left: 70px;
    padding-right: 70px;
}

.vertical-line {
    padding-top: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

/* footer styling */
.footer .NavFooter ul {
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: end;
    padding: 1px;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    padding-top: 40px;
}

.footer .NavFooter li a {
    color: olivedrab;
    text-decoration: none;
    cursor: pointer;
}

.footer .NavFooter li a:hover {
    color: purple;
}

.footer .fade-in {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
}