* {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.NavBar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
}

.NavBar li a {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.NavBar li a:hover {
    color: purple;
}

.NavBar ul .furniture-home {
    font-size: 700;
    font-weight: 700;
    letter-spacing: 1.5px;
    transition: 2s;
    color: grey;
    font-family: cursive;
    font-style: oblique;
}

/* Designing the porfolio section*/
.intro-furniture h2 {
    font-size: 50px;
    font-weight: 500;
    padding-left: 60px;
    font-style: oblique;
    color: grey;
    font-family: monospace;
}

.intro-furniture h4 {
    padding-left: 70px;
    font-size: 20px;
    font-family: monospace;
    color: gray;
    padding-bottom: 20px;
    padding-top: 10px;
}

.sofar {
    display: grid;
    grid-template-columns: 350px 350px 400px;
    grid-template-rows: 300px 300px 100px;
    gap: 10px 20px;
    padding-left: 60px;

}
.sofar .sofar-size img {
    width: 90vh;
    height: 350px;
    border: 2px solid pink;
    margin: 0;
}

/*Bedroom Style*/
.bedroom-furniture h2 {
    color: darksalmon;
}
.bedroom-furniture h4 {
    font-size: 40px;
    color: sandybrown;
}

.bedroom {
    border: 2px solid floralwhite
}

/*Dinning room*/
.dinning-furniture h2 {
    color: purple;
}
.dinning-furniture h4 {
    font-size: 40px;
    color: darkviolet;
}

/*Styling the footer*/
/* footer styling */
.footer .NavFooter ul {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
}

.footer .NavFooter li a {
    color: olivedrab;
    text-decoration: none;
    cursor: pointer;
}

.footer .NavFooter li a:hover {
    color: purple;
}

.footer .fade-in {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
}