/*Body styling*/
body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.logoImage img {
    width: 40px;
    height: 50px;

}
.Cart img {
    width: 25px;
    height: 25px;
}


/*Header tag ((Will use flex here))*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0);
    height: 85px;
}

/*Navigation bar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar li {
    list-style-type: none;
    text-align: none;
}

.navbar li a {
    text-decoration: none;
    color: #1a1a1a;
    transition: 0.5 ease;
}

.navbar li a:hover,
.navbar li a.active {
    color: darkcyan;
    text-shadow: 1px 1px 2px pink;
}

.navbar li a::after,
.navbar li a:hover::after {
    content: "";
    width: 35%;
    height: 1.5px;
    background-color: darkcyan;
    position: absolute;
    bottom: -4px;
    left: 2px;

}